<%- include('components/navbar') %>

<section>
    <div>
        <h3 class = "page-title"><%=message%></h3>
        <button><a href = "/">Back to all books</a></button>
    </div>
</section>

<%- include('components/footer') %>