<%- include('components/navbar') %>

<section class = "enterPin">
    <div class = "pinCodeContainer">
        <form action = "/pin" method = "post" id = "pinForm">
            <h3>Enter PIN:</h3>
            <input type = password name = "pin">
            <input type = "hidden" name = "isLibrarian" value = "" id = "submitType">
            <div class = "button-group">
                <button type = "button" onclick="submitForm(0)">Authorize A Book (Librarian)</button>
                <button type = "button" onclick="submitForm(1)">Suggest A Book</button>
            </div>
        </form>
    </div>
</section>

<script>
    function submitForm(num){
        let form = document.getElementById('pinForm');
        let hidden = document.getElementById('submitType');
        if(num == 0){
            hidden.value = "true"
        }else{
            hidden.value = "false"
        }

        form.submit();
    }
</script>

<%- include('components/footer') %>